{% assign certifications = site.data.data.certifications %}
{% if certifications %}

## {{ certifications.title }}

{% for certification in certifications.list %}

### {% if certification.link %}[{{ certification.name }}]({{ certification.link }}){% else %}{{ certification.name }}{% endif %}

{{ certification.start }}{% if certification.end %} - {{ certification.end }}{% endif %}

{% if certification.organization %}
{{ certification.organization }}{% if certification.credentialid %} ({{ certification.credentialid }}){% endif %}
{% endif %}

{% if certification.details %}
{{ certification.details | markdownify }}
{% endif %}

{% endfor %}
{% endif %}
