{% assign certifications = site.data.data.certifications %}
{% if certifications %}

  <section class="section certifications-section">
    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
      </span>
      {{ certifications.title }}
    </h2>

    {% for certification in certifications.list %}
      <div class="item">
        <div class="meta">
          <div class="upper-row">
            <h3 class="cert-title">{{ certification.name }}</h3>
            <div class="time">
              {{ certification.start }}{% if certification.end %} - {{ certification.end }}{% endif %}
            </div>
          </div>

          {% if certification.organization %}
            <div class="cert-org">
              {{ certification.organization }}{% if certification.credentialid %} ({{ certification.credentialid }}){% endif %}
            </div>
          {% endif %}
        </div>

        {% if certification.credentialurl %}
          <div class="cert-url">
            <a href="{{ certification.credentialurl }}" target="_blank">
              {{ certification.credentialname }}
            </a>
          </div>
        {% endif %}

        {% if certification.details %}
          <div class="details">
            {{ certification.details | markdownify }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </section>

{% endif %}
