{% assign education = site.data.data.education %}
{% if education %}
  {% if site.data.data.sidebar.education %}

    <h2>{{ education.title }}</h2>

    {% for graduation in education.info %}

      <h4>{{ graduation.university }}</h4>
      <h5>{{ graduation.degree }}</h5>
      <p>{{ graduation.time }}</p>

    {% endfor %}

  {% else %}

    <h2>{{ education.title }}</h2>

    {% for graduation in education.info %}

      <h3>{{ graduation.university }}</h3>
      <h4>{{ graduation.degree }}</h4>
      <p>{{ graduation.time }}</p>

      {% if graduation.details %}
        {{ graduation.details | markdownify }}
      {% endif %}

    {% endfor %}

  {% endif %}
{% endif %}
