{% assign education = site.data.data.education %}
{% if education %}
{% if site.data.data.sidebar.education %}

##  {{ education.title }}

{% for graduation in education.info %}

#### {{ graduation.university }}

##### {{ graduation.degree }}

{{ graduation.time }}

{% endfor %}

{% else %}

##  {{ education.title }}

{% for graduation in education.info %}

### {{ graduation.university }}

{{ graduation.time }}

{{ graduation.degree }}

{% if graduation.details %}

{{ graduation.details | markdownify }}

{% endif %}

{% endfor %}
{% endif %}
{% endif %}
